<div id="poll-select-container" class="row" >
	<!-- Poll select -->
	<div class="col-xs-8 ucontainer" id="poll-select" poll-select>
		<div class="ucontainer-inner" id="selected-poll">
			{{selectedPoll.source}}
		</div>
		<!-- Hidden poll list dropdown -->
		<ul id="poll-list" class="collapsed">
			<li ng-repeat="poll in pollData"
					ng-click="selectPoll(poll)"
					ng-class="{'selected': poll == selectedPoll }">
				{{poll.source}} <small class="pull-left poll-date">{{poll.date|date:'d/M'}}</small>
			</li>
		</ul>
	</div>
	<!-- Facebook and pollView buttons -->
	<div class="col-xs-4 ucontainer" id="buttons-container" class="ucontainer">
		<div class="row">
			<!-- Facebook -->
			<div class="col-xs-6 ucontainer"
					 id="facebook-icon-container"
					 onclick="window.plugins.socialsharing.share('ניצחון 2015!', null, null, 'http://v15.org.il')">
				<div class="ucontainer-inner">
					<img src="images/facebook.svg" id="facebook-icon" />
				</div>
			</div>
			<!-- pollView toggle -->
			<div class="col-xs-6 ucontainer" id="poll-view-toggle" ng-switch on="pollView" ng-class="{'pie': pollView == 'bar', 'bar': pollView == 'pie'}" ng-click="togglePollView()">
				<div class="ucontainer-inner">
					<img ng-switch-when="pie" id="bar-view-icon" src="images/skarim.svg" />
					<img ng-switch-when="bar" id="pie-view-icon" src="images/pie.svg" />				
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-switch on="pollView" id="main-poll-view">
	<div id="main-chart-container"
			 class="chart-container hidden-xs"
			 ng-switch-when="bar">
		<div poll-bar-chart></div>
	</div>

	<div id="main-chart-container-mobile"
			 class="chart-container visible-xs"
			 ng-switch-when="bar">
			 <div mobile-poll-bar-chart></div>
	</div>


	<div id="pie-chart-container"
			 class="chart-container"
			 ng-switch-when="pie">
		<div pie-chart></div>
	</div>
</div>
