<a href="#/parties" id="back-btn" class="btn btn-default">חזרה</a>

<nav class="navbar navbar-default" role="navigation" style="position: absolute; width: 100%; left: 0; border: 0; background-color: #324C96;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
          <a ng-href="#/parties" class="navbar-toggle collapsed">
              חזרה
          </a>
      <h3 style="margin-right: 58px;">{{partyResults.name}}</h3>
    </div>


  <!-- Collect the nav links, forms, and other content for toggling -->
  </div><!-- /.container-fluid -->
</nav>

<div id="party-chart-container" class="chart-container hidden-xs">
	<div party-bar-chart></div>
</div>

<div id="party-chart-container-mobile" class="chart-container visible-xs">
	<div mobile-party-bar-chart></div>
</div>
