<div class="splash">
	<div class="row">
		<div class="col-xs-12">
			<h2>מגמות סקרים</h2>
		</div>

		<div class="col-xs-12 msg">
			<h1>{{msg.title}}</h1>
			<p>
				{{msg.text}}
			</p>
		</div>	
	</div>
</div>

<div class="ucontainer" id="bottom-buttons">
		<div class="row">
			<div class="col-xs-6 ucontainer button bar" ng-click="go('/parties/', 'bar')">
				<div class="ucontainer-inner">
					<svg version="1.1" id="bar-view-icon" xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 400 400" enable-background="new 0 0 400 283.7" xml:space="preserve">
						<g>
							<g>
								<g>
									<g>
										<rect x="51" y="2.7" fill="#FFFFFF" width="61" height="237"/>
									</g>
								</g>
								<g>
									<g>
										<rect x="167" y="34.7" fill="#FFFFFF" width="61" height="205"/>
									</g>
								</g>
								<g>
									<g>
										<rect x="283" y="122.7" fill="#FFFFFF" width="61" height="117"/>
									</g>
								</g>
							</g>
							<g>
								<rect x="1" y="233.7" fill="#43D4BA" width="398" height="50"/>
							</g>
						</g>
					</svg>
					<h3 class="icon-label">מפלגות</h3>
				</div>
			</div>
			<div class="col-xs-6 ucontainer button pie" ng-click="go('/parties/', 'pie')">
				<div class="ucontainer-inner">
					<svg version="1.1" id="pie-view-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
						<g>
							<g>
								<path fill="#010B60" d="M290.4,295c-23.4,22.1-54.9,35.8-89.7,35.8C128.7,330.8,70,272.1,70,200c0-71.8,58.1-130.3,129.9-130.7
									c-0.3,0-0.9,0-0.9,0V1.7C90,2.6,2.3,91.2,2.3,200c0,109.4,89,198.4,198.4,198.4c49.9,0,95.6-18.6,130.5-49.1l-44.4-50.8
									C288.1,297.4,289.2,296.1,290.4,295z"/>
								<path fill="#FFFFFF" d="M199.1,1.6L199.1,1.6c0.3,0,0.5,0,0.8,0C199.7,1.7,199.4,1.6,199.1,1.6z"/>
								<path fill="#FFFFFF" d="M331.2,349.3l0.1,0.1c8.7-7.6,16.5-15.8,23.6-24.7C347.7,333.6,339.8,341.8,331.2,349.3z"/>
							</g>
							<g>
								<g>
									<path fill="#FFFFFF" d="M331.3,349.4l-44.5-50.9c28.4-24.9,43.8-60.7,43.8-98.5c0-72.1-59.6-130.8-131.6-130.8V1.6
										c112,0,199.3,89,199.3,198.4C398.3,257.3,374.4,311.7,331.3,349.4z"/>
								</g>
							</g>
						</g>
					</svg>
					<h3 class="icon-label">גושים</h3>
				</div>
			</div>
		</div>
</div>