<div class="splash">
	<div class="row">
		<div class="col-xs-12 msg">
			<h2>מגמות אחרונות</h2>
			<p ng-bind-html="msg">
			</p>
		</div>	
	</div>
</div>

<div class="ucontainer" id="bottom-buttons">
		<div class="row">
			<div class="col-xs-6 ucontainer button bar" ng-click="go('/parties/', 'bar')">
				<div class="ucontainer-inner">
					<img id="bar-view-icon" src="images/bar.svg">
					<h3 class="icon-label">מפלגות</h3>
				</div>
			</div>
			<div class="col-xs-6 ucontainer button pie" ng-click="go('/parties/', 'pie')">
				<div class="ucontainer-inner">
					<img id="pie-view-icon" src="images/pie.svg">
					<h3 class="icon-label">גושים</h3>
				</div>
			</div>
		</div>
</div>